._wrapper {
    width:100%;
    ._container {
        width:90.69%;
        max-width: 1440px;
        min-width: 300px;
        padding: 0 10px;
        margin:0 auto;
    }
}

._close {
    display: none;
}

