.footer_wrapper {
    background: #000;
    padding-top: 76px;

    .footer_container {
        display: flex;
        padding-bottom: 68px;
        .f_coll.row_2 {
            a {
                display: none;
            }
        }
    }
    .footer_logo.f_coll {
        min-width: 194px;
        img {
            max-width: 240px;
        }
    }
    .f_coll {
        width:25%;
        display: flex;
        flex-direction: column;

        a,span,.last_col_block, .last_col_block a  {
            color:#fff;
            margin-bottom: 16px;
            font-size: 0.875rem;
            line-height: 1.3rem;
        }
        a {
            transition: color .5s;
            span {
                transition: color .5s;
            }
        }
        a:hover {
            color:#0087F0;
            span {
                color:#0087F0;
            }
        }
        a:active {
            color:#fff;
        }
        .last_col_block span {
            display: block;
        }
        .last_col_block:nth-child(2) > div {
            justify-content: flex-end;
        }
    }
    .last_coll {
        min-width: 313px;
        text-align: right;

    }
    .footer_sub_container {
        padding: 22px 0  42px 0;
        border-top:1px solid rgba(149, 150, 150, 0.5);
        line-height: 1.3rem;
        ._container {
            display: grid;
            grid-template-columns: 40px 1fr 362px;
            column-gap: 24px;
        }
        .f_coll {
            display: flex;
            color:#fff;
        }
        .f_coll_social {
            display: grid;
            grid-template-columns: 39px 39px 39px;
            grid-template-rows: 39px;
            column-gap: 12px;
            >a {
                height: 100%;
                cursor: pointer;
                transition: background .5s;
            }
            .social_youtube {
                background: url('img/youtube_icon.svg') center center no-repeat;
            }
            .social_youtube:hover {
                background: url('img/youtube_icon_on.svg') center center no-repeat;
            }
            .social_vk {
                background: url('img/vk_icon.svg') center center no-repeat;
            }
            .social_vk:hover {
                background: url('img/vk_icon_on.svg') center center no-repeat;
            }
            .social_tg {
                background: url('img/telegram_icon.svg') center center no-repeat;
            }
            .social_tg:hover {
                background: url('img/telegram_icon_on.svg') center center no-repeat;
            }
        }
        .f_link {
            display: flex; 
            align-items: center;   
            margin: 0;
            img {
                margin-right: 16px;
            }
        }
        .f_adres {
            display: flex;
            align-items: center;
            color:#fff;
        }
    }
    .link_pror_page {
        color:#ffffff;
        transition: color .5s;
    }
    .link_pror_page:hover {
        color:#0087F0;
    }
}