.books_page {
    margin-bottom: 42px;
    line-height: 1.2em;
    .books_page_nav{
        padding:27px 0 0px 0;
        border-bottom: 1px solid #d3d3d3;
        margin-bottom: 14px;
        ._container {
            display: flex;
            .clct:first-child {
                padding-left: 0;
            }
            .clct {
                padding-left: 20px;
            }
        }

        span {
            display: block;
            padding-bottom: 13px;
            border-bottom: 2px solid #0087F0;
            font-weight: 600;
            position: relative;
            white-space: nowrap;
            top:1px;
        }
        a {
            color:#000;
            white-space: nowrap;
        }
        a:hover {
            color:#000;
        }
    }

    .wrap-title-sengine {
        font-weight: 600;
        font-size: 1.1em;
        > div {
            margin-bottom:.8em
        }
    }


    .book_sticker_sengine_librarian {
        border: 1px solid #adadad;
        box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        padding: 33px 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        transition: transform .5s;
        .book_sticker_sengine_librarian_left_coll {
            width: 82px;
            display:flex;
            flex-direction: column;
            align-items: center;
            > a {
                img {
                    margin: 0 auto;
                    box-shadow: 0 0 4px rgba(0,0,0,.3);
                }
            }
            .book_sticker_sengine_librarian_left_coll_icons {
                display: flex;
                .book_img_circle {
                    width:26px; height:26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 0 4px rgba(0,0,0,.3);
                    border-radius: 14px;
                    position: relative;
                    top:-14px;
                    background: #fff;
                    margin-left: 6px;
                    img {
                        position: relative;
                    }

                }
                .book_img_circle:first-child {
                    margin-left: 0px;
                }
                .book_img_circle:empty  {
                    display: none;
                }
            }


            img {
                max-width: 70px;

            }
        }
        .book_sticker_sengine_librarian_right_coll {
            width:80.140%;
            position: relative;
            > a:first-child {
                display: inline-block;
                font-weight: 600;
                color:#000;
                margin-bottom: 24px;
            }
            .b_s_s {
                display: flex;
                margin-bottom: 14px;
                .head {
                    display: block;
                    width:102px;
                    margin-right: 24px;
                    color:#333;
                    font-weight: 600;
                }
                
            }

            .b_s_s_anotation {
                .value {

                }
            }
            label {
                position: absolute;
                top:-22px; right:-18px;
                input {
                    width:18px; height:18px;
                }
            }
        }
    }
    .book_sticker_sengine_librarian:hover {
        transform: scale(1.01);
    }

    .books_page_content {
        ._container {
           display: flex; 
           justify-content: space-between;

           .books_page_list {
            width:61.7604%;
            min-width: 560px;
           }

           .book_sticker_right_coll {
            width:27.633%;
            min-width: 202px;
                .book_sticker_right_coll_categories {
                    margin-bottom: 10px;
                    a {
                        display: block;
                        padding: 16px 24px;
                        text-align: center;
                        border: 1px solid #d3d3d3;
                        box-sizing: border-box;
                        color:#000;
                        border-radius: 16px;
                        margin-bottom: 16px;
                        transition:border .5s;
                    }
                    a:hover {
                        color:#000;
                        border: 1px solid #000;
                    }
                }
                .book_sticker_right_coll_more {
                    margin-bottom: 12px;
                    .rubricator-sticker.closed {
                        .wrap-sengine-settings {
                            display: none;
                        }
                        .rubricator-head {
                            border-bottom: 1px solid #d3d3d3;
                            color:#000;
                            transition: border .5s , background .5s, color .5s;
                            background: #fff url('img/mini_arrow_right_gray.svg') 98% center no-repeat;
                        }
                    }

                    .rubricator-sticker.opened {
                        .wrap-sengine-settings {
                            display: block;
                        }
                        .rubricator-head {
                            border-bottom: 1px solid #0087F0;
                            color:#0087F0;
                            transition: border .5s , background .5s, color .5s;
                            background: #fff url('img/mini_arrow_bottom_blue.svg') 98% center no-repeat;
                        }
                    }

                    .rubricator-head {
                        display: block;
                        padding: 16px 8px;
                        text-align: left;
                        box-sizing: border-box;
                        margin-bottom: 16px;
                        cursor: pointer;
                    }

                    .wrap-sengine-settings {
                        .rubricator-sengine {
                            > div {
                                box-sizing: border-box;
                                padding: 16px 0 12px;
                                a {
                                    color:#000;
                                    display: block;
                                    width:100%;
                                    transition: color .5s;
                                }
                                a:hover {
                                    color:#0087F0;
                                }
                                sub {
                                    position: relative;
                                    top:4px; left:-2px;
                                    font-size: .8em;
                                }
                            }
                        }
                        .wrap-setting-disciplines {
                            margin-top: 4px;
                            box-sizing: border-box;
                            padding: 8px 0 12px 16px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            a {
                                color:#d3d3d3;
                                text-decoration: underline;
                                display: block;
                                box-sizing: border-box;
                                padding: 0 12px;
                                transition: color .5s;
                            }
                            a:hover {
                                color:#0087F0;
                            }
                            span {
                                display: none;
                            }
                        }
                    }

                }
            }

        }
    }

    .books_page_content_top_panel {

        .wrap-ul-pagination {

            .books_page_content_top_panel_sort {
                display: flex;
                margin-bottom: 14px;

                > div {
                    margin-right: 24px;
                    display: flex;
                    align-items: flex-end;

                    >img {
                        order: 2;
                        position: relative;
                        top:-2px;
                    }

                    >a {
                        order:1;
                        margin-right: 12px;
                        
                    }
                
                }

                .wrap-img-link-active {

                    >a {
                        color:#0087F0;
                    }
                }

                .wrap-img-link-no-active {

                    >a {
                        color:#000;
                        transition: color .5s;
                    }
                    >a:hover {
                        color:#0087F0;
                    }
                }

            }

        }
        &_watch-total {
            margin-right: auto;
            select {
                border: none;
                background: #fff;
                color:#777;
                outline: none;
            }
            select:focus {
                color:#000;
            }
        }
    }
    .books_page_content_top_panel_watch-total  {
        select {
            margin-bottom:12px;
        }
    }
}


.moretext-inv {
    display: none;
}

.moretext-v {
    display: block;
}

.book_sticker_sengine_small {
    border: 1px solid #d8d8d8;
    box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 33px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .book_sticker_sengine_small_tittle {
        margin-bottom: 24px;
        > a {
            font-weight: 600;
            color:#000;
            
        }   
    }
    .book_sticker_sengine_small_content {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 24px;
    }
}