.acaunt_access {
    .right_container_1row {
        justify-content: space-between;
        .acaunt_access_captcha_img {
            margin: 0;
        }
        .acaunt_access_act_btn {
            width:100%;
            margin-top: 24px;
        }
    }
}

.g_idx_banner {
    .g_idx_banner_container {
        .g_idx_banner_pic {
            right:10px;
        }
    }
}  
