.restore_pw_page {
    margin-bottom: 62px;
    ._container {
        display: flex;
        justify-content: space-between;
        .rest_pw_title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #D8D8D8;
            padding: 28px 32px;
            box-sizing: border-box;

            span {
                font-size: 1.5rem;
                font-weight: 700;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1em;
                padding: 16px 24px;
                box-sizing: border-box;
                color:#000;
                border: 1px solid #000;
                border-radius: 26px;
                background: #fff;
                transition: border .5s, color .5s;
                span {
                    font-weight: 400;
                    font-size: 1em;
                }
            }
            a:hover {
                background: #fff;
                color:#0087F0;
                border: 1px solid #0087F0;
            }

        }
        .rest_pw_inputs {
            display: flex;
            flex-direction: column;
            padding: 32px 32px 0 32px;
            box-sizing: border-box;
            

            .captcha_block {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .captcha_input_block {
                    width:77.20%;
                    display: flex;
                    flex-direction: column;
                    padding: 0 32px 0 0;
                    box-sizing: border-box;
                    input {
                        order:2;
                        font-size:1em;
                        padding: 16px 24px;
                        opacity: 1;
                        transition: opacity .5s;
                        border-radius: 16px;
                        margin-bottom: 24px;
                        border: 1px solid #D8D8D8;
                        transition: color .5s, border.5s;
                    }
                    label {
                        order: 1;
                        opacity: .5;
                        margin-bottom: 12px;
                        font-size: .75em;
                    }
                    input:focus {
                        border: 1px solid #0087F0;
                        color:#0087F0
                    }
                    input:focus ~ label {
                        opacity: 1;
                        color:#0087F0;
                    } 
                }
                .captcha {
                    img {
                        width:140px;
                        border-radius: 16px;
                    }
                    a {
                        display: none;
                    }
                }
            }
        }

    }

}

.update-pwrestore_ok {
    span:first-child {
        margin-top: 14px;
    }

    span {
        display: block;
        width: 100%;
        margin-bottom: 14px; 
    }

    span:last-child {
        margin-top: 14px;
    }
}