.row_w_24 {
    width: 23.43%;
    
}

.row_w_24 {
    width: 23.81%;
}

.row_w_35 {
    width:35.18%;
}

.row_w_44 {
    width: 43.87%;
}

.row_w_58 {
    width: 57.81%;
}

.row_w_65  {
    width:64.81%;
}



.row_w_150 {
    width: 150px;
}

.row_w_225px {
    width: 225px;
}

.row_w_96px {
    width:96px;
}

.row_w_311px {
    width:311px;
}

.row_w_687px {
    width:687px;
}

.row_v_min_230px {
    min-width: 230px;
}
.margin_left_auto {
    margin-left: auto;
}

.flx_no_wrap {
    display: flex;
    flex-wrap: nowrap;
}

.flx_jc_sb {
    display: flex;
    justify-content: space-between;
}

.flx_js_rgt {
    display: flex;
    justify-content: right; 
}