.main_header {
    z-index: 3;
    background: #000;
   
    color:#fff;
    font-size: 0.875rem!important;
    padding: 18px 0 20px 0;
    ._container {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        
    }
    a, a:hover, a:visited {
        color:#fff;
        font-size: 0.875rem!important;
    }

    .sett_font {
        width: 25.15%;
        min-width: 250px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        span {
            white-space: nowrap;
        }
        .fs_up {
            margin-left: 10px;
        }
        .fs_reset {
            margin:0 5px;
        }
    }

    .contrast {
        min-width:230px;
        padding:5px 16px 6px 36px;
        box-sizing: border-box;
        border:1px solid #fff;
        border-radius: 15px;
        a,span {
            width:100%;
            height:100%;
            position: relative;
            word-break: normal;
        }
        a:before,span:before {
            position: absolute;
            top:2px;left:-22px;
            content:'';
            width:16px; height:14px;
            background: url('img/v_contrast.svg');
        }
    }

    .auth {
        margin: 0 0 0 auto;
        max-width:230px;

        .guest-frame-login {
            text-align: right;
            .enter-reg-login {
                a {
                    margin: 0 0 0 auto;
                    position: relative;
                }
                a:before {
                    content: '';
                    position: absolute;
                    top:-2px; left:-26px;
                    width:20px; height:20px;
                    background: url('img/auth.svg');
                }
                .enter-reg-login_content {
                    display: grid;
                    margin: 0 0 0 auto;
                    position: relative;
                    cursor: pointer;
                    grid-template-columns: auto 1fr;
                    column-gap: 12px;
                    align-items: center;
                    overflow: hidden;
                }
            }

        }

        #reg_login_frame {
            text-align: right;
        }

        .wrap-access {
            a{
                margin: 0 0 0 auto;
                position: relative;
            }
            a:before {
                content: '';
                position: absolute;
                top:0px; left:-26px;
                width:20px; height:20px;
                background: url('img/auth.svg');
            }
        }
    }
    
    .wrap-note-index-link {
        width:38.56%;
        min-width: 235px;
        margin: 0 auto;
        box-sizing: border-box;
        padding-left: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        .bmarks, .a-notifications {
            display: flex;
            align-items: center;
            img {
                margin-right: 10px;
            }
        }
        .bmarks {
            margin-right: 20px;
        }
    }

    .hide_logo {
        display: none;
    }

}

.student_pop-up {

    z-index: 2;
    position: absolute;
    right:0;
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    opacity: 0;
    transition: opacity .5s;
    .pop-up_menu_container {
        background: #fff;
        width:243px;
        display: flex;
        flex-direction: column;
        padding: 24px 0 0 0;
        border-radius:0 0 16px 16px;
        box-shadow: 0px 4px 32px -4px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        margin: 0 0 0 auto;
        > a, > span {
            font-size: 0.875rem;
            display: block;
            padding: 12px 24px 12px 24px;
            color:#000;
            transition: all .5s;
        }
        a:hover {
           background: #0087F0;
           color:#fff;
        }
        a:last-child {
            padding: 12px 24px 12px 24px;
        }
        .pop-up_decor-line {
            border-bottom:1px solid rgba(0, 0, 0, 0.2);
        }
        .pop-up_decor-line_top {
            border-top:1px solid rgba(0, 0, 0, 0.2);
        }
    }
}

.menu_close {
    top:-100%;
}

.menu_open {
    top:67px;
    position: absolute;
    opacity: 1;
}

.menu_open_for_scroll  {
    position: fixed;
    top: 84px;
    opacity: 1;
}