.pop-up_header {
    .pop-up_header_container {

        .wrap-note-index-link {
            min-width: auto;
            padding-left: 0;
            .bmarks, .a-notifications {
                span {
                    display: none;
                }
            }
        }

    }
}