.usr_main_header {
    .wrap-note-index-link {
        width: auto;
        min-width: 60px;
        padding-left: 0;
        .bmarks, .a-notifications {
            span {
                display: none;
            }
        }
    }
    .auth {
        
        .wrap-access {
            a {
                display: block;
                height: 18px;
                span {
                    display: none;
                }
            }
        }

    }
    .burger-menu {
        display: block;
    }
}

.sub_header_top {
    .sub_header_container {
        .sub_header_get_access {
            display: none;
        }
    }
}

.pop-up_header {
    .pop-up_header_container {
        .sub_header_search_column {
            .sub_header_categories {
                display: none;
            }
        }

        .auth {
            
            >div {
                .wrap-access {
                    > a {
                        display: block;
                        width:20px;
                        height:20px;
                        > span {
                            display: none;
                        }
                    }
                    >a:before {
                        left:0px;
                    }
                }
            }
        }

    }
}